.dark-mode:root {
  --primary-color-bg: #333;
  --primary-color: #f1ede6;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  color: var(--primary-color);
  background-color: var(--primary-color-bg);
}

.container {
  width: 394px;
  height: 190px;
  background-color: #777165;
  border-radius: 100px;
  position: relative;
  overflow: hidden;
}

.circule {
  width: 180px;
  height: 180px;
  background-color: #fff;
  border-radius: 50%;
  position: relative;
  top: 5px;
  left: 5px;
}
.goMove {
  animation: go-move 0.5s ease forwards;
}
.backMove {
  animation: back-move 0.5s ease forwards;
}

i {
  position: absolute;
  top: 50%;
  font-size: 64px;
  z-index: 100;
  pointer-events: none;
}
.sun {
  left: 95px;
  transform: translate(-50%, -50%);
}
.moveSun {
  animation: move-sun 0.5s ease forwards;
}

.moon {
  left: 299px;
  transform: translate(-50%, 100px);
}
.moveMoon {
  animation: move-moon 0.5s ease forwards;
}
